.nav {
  background-color: rgb(118, 115, 115);
  height: 100px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boton {
  border-radius: 5px;
  color: white;
  font-family: cursive;
  font-size: 18px;
  background-color: transparent;
  width: 250px;
  height: 40x;
  border: lightskyblue solid 3px;
}
#modal1 {
  border-radius: 10px;
  height: 500px;
  width: 400px;
}
.grid-modal-numeros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-numeros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2%;
  row-gap: 2%;
  margin-top: 40px;
}
.grid-simbolos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  margin-left: 40px;
  row-gap: 2%;
}
.input-modal {
  margin-top: 40px;
  margin-left: 25%;
  height: 30px;
  width: 50%;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  text-align: center;
  align-content: center;
}
.input-modal2 {
  margin-top: 40px;
  margin-left: 20%;
  height: 30px;
  width: 60%;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  text-align: center;
  align-content: center;
}
.numeros {
  width: 50px;
  height: 40px;
  border-radius:20%;
}
.numeros:hover{
  background-color: lightgreen;
  transition: 0.5s ease ;
}
.simbolos {
  width:55px;
  height: 40px;
  border-radius: 10%;
}
.simbolos:hover{
  background-color: lightgreen;
  transition: 0.5s ease ;
}
.boton-cerrar {
  margin-top: 36%;
  margin-left: 0%;
  color: black;
  height: 8%;
  width: 23%;
  border-radius: 10px;
  border: solid 1px black;
  
}
.boton-cerrar:hover{
  background-color: lightblue;
  transition: 1s ease;
  border-radius: 15px;
}
.inputEscondido{
  display: none;
}

#propinatxt{
  display: none;
}
#input{
  display: block;
}
#btnI1{
  display: block;
}

#btnI2{
  display: none;
}